footer.Footer 
    .container 
        div 
            |Designed by 
            strong  Your Name 
            |— Copyright 2021
        .Footer-buttons
            a(href="#") 
                i.fa-brands.fa-whatsapp
            a(href="#")  
                i.fa-brands.fa-dribbble
            a(href="#")  
                i.fa-brands.fa-linkedin
            a(href="#")  
                i.fa-brands.fa-twitter
