header.Header
    .container
        a.Header-logo(href="#")
                img(src="img/logo.png", alt="")
                |Logo Here
        button.Header-switch
            i.fa-solid.fa-bars

        .Header-links.menuShow
            a(href="#") Home
            a(href="#") Work
            a(href="#") Contact