$font-family: 'Manrope', sans-serif;
//
$color-gray: #323232;
$color-dark-gray: #202020;
$color-light-gray: #959595;
$color-btn-bg: #9D9D9D;
//
$width: 1250px;
$width-resp: 366px;
$gutter: 20px;
$finger-size: 30px;