.Contact
    .container
        .Contact-box
            h2 Contact Me 
            p
                |If you are looking to hire a product designer,
                br
                |I’m currently available for freelance work.
            button.btn 
                i.fa-regular.fa-envelope
                |hi@yourname.com