section.Home
    .container
        .Home-showcase
            .Home-showcase-box
                .Home-showcase-box-title
                    h1
                        |Hi,I am Your Name 
                        br
                        |A Product Designer
                        br
                        |based in City.
                .Home-showcase-box-text
                    p 
                        |I help businesses and companies reach
                        br
                        |their goals by designing user-centric digital
                        br
                        |products & interactive experiences.
                .Home-showcase-box-button
                    button.btn
                        i.fa-regular.fa-envelope
                        |hi@yourname.com
            .Home-showcase-photo
                img(src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80", alt="photo")
        .Home-button
                button
                    i.fa-solid.fa-arrow-down
                    |FEATURED WORK
