section.Work 
    .container 
        .Work-one
            .Work-one-column1
                .Work-one-column1-img1.img
                .Work-one-column1-img2.img
            .Work-one-column2
                .Work-one-column2-img3.img
                .Work-one-column2-img4.img
        .Work-two
        .Work-tree