section.Works
    .container 
        article.Works-work-one
            .Works-work-one-imgs1
                img(src="https://images.unsplash.com/photo-1545235617-9465d2a55698?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80", alt="photo")
                img(src="https://images.unsplash.com/photo-1587355760421-b9de3226a046?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80", alt="photo")
            .Works-work-one-imgs2
                img(src="https://images.unsplash.com/photo-1609921212029-bb5a28e60960?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1152&q=80", alt="photo")
                img(src="https://images.unsplash.com/photo-1547027072-332f09bd6bb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", alt="photo")
        article.Works-work-two
            h2 Visual Explorations
            .Works-work-two-imgs
                img(src="https://images.unsplash.com/photo-1633409361618-c73427e4e206?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80", alt="photo")
                img(src="https://images.unsplash.com/photo-1632749161487-5f38ec89ebdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", alt="photo")
                img(src="https://images.unsplash.com/photo-1622180215603-de500ae24677?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", alt="photo")
            .Works-work-two-imgs
                img(src="https://images.unsplash.com/photo-1635939412822-8f3ee593d147?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1054&q=80", alt="photo")
                img(src="https://images.unsplash.com/photo-1625592831117-b6ef5fe3bdd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80", alt="photo")
                img(src="https://images.unsplash.com/photo-1633419461186-7d40a38105ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80", alt="photo")
        article.Works-work-tree
            h2 Personal Projects
            .Works-work-three-imgs
                img(src="./img/photo1.png", alt="photo")
                img(src="./img/photo2.png", alt="photo")
                img(src="./img/photo3.png", alt="photo")
