body{
    font-family: $font-family;
    background-color: $color-dark-gray;
    color: #fff;
}

.container{
    margin-right: auto;
    margin-left: auto;
    max-width: $width-resp;
    @include mq("tablet") {
        max-width: $width;
    }
}

a{
    color: #fff;
}

.btn{
    margin: 15%;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    background-color: $color-btn-bg;
    i{
        padding-right: 6px;
    }
}