@use "sass:math";

.Header {
    background-color: $color-gray;
    position: relative;

    .container {
        display: flex;
        align-items: center;
    }

    &-logo {
        margin: $gutter;
        margin-right: auto;
        font-weight: bold;
        img {
            height: 40px;
            width: 30px;
            margin-right: math.div($gutter,2);
        }
    }

    &-switch {
        background-color: transparent;
        color: #fff;
        margin-left: auto;
        font-size: $finger-size;
        margin: $gutter;

        @include mq("tablet") {
            display: none;
        }
    }

    &-links {
        text-align: center;
        position: absolute;
        top: 100%;
        background-color: $color-gray;
        width: 100vw;
        display: flex;
        flex-direction: column;

        a {
            padding: $gutter;
            margin-bottom: $gutter;
            &:hover{
                transition: 0.3s;
                font-size: 1.1em;
                font-weight: bold;
            }
        }

        @include mq("tablet") {
            position: relative;
            flex-direction: row;
            width: auto;

            a{
                margin-bottom: 0;
            }
        }
    }

    .menuShow{
        display: none;
        @include mq("tablet") {
            display: block;
        }
    }
}