.Home {
    min-height: 90vh;

    .container {
        padding-top: 5%;
    }

    &-showcase {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;

        @include mq("desktop") {
            flex-direction: row;
            text-align: left;
        }

        &-box {
            &-title {
                margin-top: 6%;

                @include mq("desktop") {
                    font-size: 2em;
                    font-weight: bold;
                }
            }

            &-text {
                color: $color-light-gray;
                margin-top: 6%;
                margin-bottom: 12%;

                @include mq("desktop") {
                    font-size: 1.5em;
                    margin-top: 6%;
                }
            }
        }

        &-photo {
            text-align: center;

            @include mq("desktop") {
                margin-left: auto;
            }

            img {
                height: 240px;
                clip-path: circle(50%);

                @include mq("desktop") {
                    height: 400px;
                }
            }
        }
    }

    &-button{
        margin-top: 30%;

        @include mq("desktop"){
            margin-top: 10%;
        }
        button{
            background-color: transparent;
            color: #fff;
            i{
                padding-inline: 20px;
            }

            @include mq("desktop"){
                i{
                    padding-inline-end: 10px;
                }    
            }
        }
    }
}