.Works {
    article {
        margin-bottom: 150px;

        @include mq("desktop") {
            margin-bottom: 250px;
        }
    }

    h2 {
        text-align: center;
        font-size: 36px;
        margin-bottom: 34px;

        @include mq("desktop") {
            margin-bottom: 76px;
        }
    }

    img {
        border-radius: 5px;
        object-fit: cover;
    }

    &-work {
        &-one {
            @include mq("desktop") {
                display: flex;
                justify-content: space-between;
            }

            img {
                height: 600px;
                width: 366px;
                margin-bottom: $gutter;

                @include mq("desktop") {
                    height: 888px;
                    width: 612px;
                }
            }

            &-imgs2 {
                @include mq("desktop") {
                    margin-top: 140px;
                }
            }
        }

        &-two {
            &-imgs {
                @include mq("desktop") {
                    display: flex;
                    justify-content: space-around;
                }
            }

            img {
                height: 366px;
                width: 366px;
                margin-bottom: $gutter;

                @include mq("desktop") {
                    height: 408px;
                    width: 400px;
                }
            }
        }

        &-three {
            &-imgs {
                @include mq("desktop") {
                    display: flex;
                    justify-content: space-around;
                }

                img {
                    height: 600px;
                    width: 366px;
                    margin-bottom: 24px;

                    @include mq("desktop") {
                        height: 560px;
                        width: 400px;
                        margin-bottom: 0;
                    }
                }
            }


        }
    }
}