// .Work {
//     &-one {
//         margin-bottom: 150px;

//         @include mq("desktop") {
//             display: flex;
//             margin-bottom: 250px;
//         }

//         img {
//             width: 366px;
//             height: 600px;
//             border-radius: 5px;
//             margin-bottom: 16px;
//             object-fit: cover;

//             @include mq("desktop") {
//                 width: 612px;
//                 height: 888px;
//             }
//         }

//         &-imgs2 {
//             @include mq("desktop") {
//                 margin-top: 140px;
//             }
//         }
//     }

//     &-two {
//         @include mq("desktop") {
//             margin-bottom: 250px;
//         }

//         h2 {
//             text-align: center;
//             margin: 2.5em;

//             @include mq("desktop") {
//                 font-size: 2.3em;

//             }
//         }

//         &-imgs {
//             display: block;

//             @include mq("desktop") {
//                 display: flex;
//                 justify-content: space-around;

//             }
//         }

//         img {
//             height: 366px;
//             width: 366px;
//             border-radius: 5px;
//             margin-bottom: 16px;
//             object-fit: cover;

//             @include mq("desktop") {
//                 height: 408px;
//                 width: 400px;
//             }
//         }
//     }

//     &-three {
//         &-imgs {
//             display: flex;
//             justify-content: space-around;

//             img {
//                 height: 560px;
//                 width: 400px;
//             }
//         }
//     }
// }

.Works {
    article {
        margin-bottom: 150px;

        @include mq("desktop") {
            margin-bottom: 250px;
        }
    }

    h2 {
        text-align: center;
        font-size: 36px;
        margin-bottom: 34px;

        @include mq("desktop") {
            margin-bottom: 76px;
        }
    }

    img {
        border-radius: 5px;
        object-fit: cover;
    }

    &-work {
        &-one {
            @include mq("desktop") {
                display: flex;
                justify-content: space-between;
            }

            img {
                height: 600px;
                width: 366px;
                margin-bottom: $gutter;

                @include mq("desktop") {
                    height: 888px;
                    width: 612px;
                }
            }

            &-imgs2 {
                @include mq("desktop") {
                    margin-top: 140px;
                }
            }
        }

        &-two {
            &-imgs {
                @include mq("desktop") {
                    display: flex;
                    justify-content: space-around;
                }
            }

            img {
                height: 366px;
                width: 366px;
                margin-bottom: $gutter;

                @include mq("desktop") {
                    height: 408px;
                    width: 400px;
                }
            }
        }

        &-three {
            &-imgs {
                @include mq("desktop") {
                    display: flex;
                    justify-content: space-around;
                }

                img {
                    height: 600px;
                    width: 366px;
                    margin-bottom: 24px;

                    @include mq("desktop") {
                        height: 560px;
                        width: 400px;
                        margin-bottom: 0;
                    }
                }
            }


        }
    }
}